body {
    font-family: "Semibold", sans-serif;
    overflow-x: hidden;
    display: block;
}
.wrapper {
    viewport-fit: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.wr-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-bottom: 3%; */
}
.section-title {
    max-width: 757px;
    margin-bottom: 4%;
}
.gold-title {
    height: 10px;
    color: #d4af37;
    font-family: "Semibold";
    font-size: 13px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.65px;
}
.upper-title {
    height: 36px;
    opacity: 0.7;
    color: #021725;
    font-family: "Semibold";
    font-size: 44px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    font-style: normal;
    letter-spacing: 2.2px;
    margin-bottom: 7%;
}
.description {
    height: 180px;
    color: #021725;
    font-family: "Regular";
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.9px;
    /* margin-bottom: 15%; */
}
.btn {
    position: absolute;
    width: 238px;
    height: 53px;
    border: 1px solid #000;
    left: calc(50% - 119px);
}
.text-button {
    display: block;
    text-align: center;
    line-height: 50px;
}
.btn__line {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8%;
}
a {
    text-decoration: none;
    color: #021725;
}
.contacts__wr {
    display: flex;
    flex-wrap: wrap;
}
/* .info__wr {
	display: flex;
	flex-wrap: wrap;
} */

.contacts__wr h5 {
    width: 69px;
    height: 10px;
    color: #505d68;
    font-family: "Semibold";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.65px;
}
.contacts__wr p {
    width: 240px;
    height: 52px;
    color: #505d68;
    font-family: "Regulaar";
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.57px;
}
